:root {
    /* variables */
    --color-primary: rgb(40, 40, 40);
    --btn-size: 75px;

    background-color: rgb(240, 240, 240);
    color: var(--color-primary);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calculator {
    border: 1px solid var(--color-primary);
    background-color: rgb(251, 251, 251);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: calc(var(--btn-size)*4);
    height: calc(var(--btn-size)*4);
}

button {
    all: unset;
}

.calc-btn {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 6px;
    border: 1px solid grey;
    text-align: center;
}

#zero-btn {
    grid-column: span 2;
}

#calc-display {
    height: var(--btn-size);
    border: 1px solid rgb(126, 126, 126);
    border-radius: 4px;
    margin-bottom: 16px;
}