* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calculator {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 240px;
    height: 240px;

}

button {
    all: unset;
}

.calc-btn {
    /* these values are hard coded, but could maybe change for responsive design */
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 6px;
    border: 1px solid grey;
    text-align: center;
}

#zero-btn {
    grid-column: span 2;
}

#calc-display {
    height: 60px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 16px;
}